.facebook {
    fill: #3B5998
}

.twitter {
    fill: #00acee
}

.republican {
    fill: #DE0100
}

.democrat {
    fill: #1405BD
}

#partyTopTerms{
    margin: auto;
    width: 95vw;
}

.topTermsParent{
    overflow-y: auto;
}

.nav{
    height:30px;
    width:100%;
    background-color: #3B5998;
    display: flex;
}

.chartBlue {
    height: 500px;
    width:100%;
    background-color: #dce6f5;
    display: flex;
    flex-direction: row;
}

.platformButtonContainer{
    width: 25%;
    height: 250px;
    background-color: #3B5998;

}

.topTermsNavButton{
    margin: auto;
}
