.facebook {
  fill: #3b5998;
}

.facebook-btn {
  fill: #3b5998;
  background-color: #3b5998;
  border-color: #3b5998;
}

.twitter {
  fill: #00acee;
}

.twitter-btn {
  fill: #00acee;
  background-color: #00acee;
  border-color: #00acee;
}

.republican {
  fill: #de0100;
}

.democrat {
  fill: #1405bd;
}

#control-panel {
  display: flex;
  justify-content: space-evenly;
}

#year-slider {
  width: 100%;
}

#plot-label text {
  text-anchor: middle;
}

#year-label {
  font-size: xx-large;
  font-weight: bolder;
}

#platform-label {
  font-size: large;
  font-weight: bold;
}

#table-div {
  height: 500px;
  overflow-x: auto;
}

#engagement-table {
  border: 1px solid black;
  text-align: center;
  width: 100%;
}

.engagement-thead {
  background-color: darkgray;
}
.engagement-th {
  user-select: none;
  position: sticky;
  top: 0;
}
.engagement-thr th {
  background-color: darkgray;
}

.engagement-tr {
}
.engagement-top-th {
  background-color: darkorchid;
}
